<template>
  <div>
    <!-- 折线图 -->
    <Echart :options="options" id="blockChainBrowerChart" height="250px" width="250px" class="pieChart"></Echart>
  </div>
</template>

<script>
import Echart from '../common/index'
// https://juejin.cn/post/7088937269075116040
export default {
  data() {
    return {
      options: {}
    }
  },
  components: {
    Echart
  },
  props: {
    cdata: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    cdata: {
      handler(newData) {
        let { xData, yData } = newData
        this.options = {
          tooltip: {
            // 提示
            trigger: 'item', // 触发方式
            formatter: '{a} <br/>{b}: {c} ({d}%)' // 提示的格式
          },
          legend: {
            // 图例
            orient: 'vertical',
            x: 'left',
            data: ['直接访问', '邮件营销']
          },
          series: [
            {
              type: 'pie', // 图标的类型
              radius: ['50%', '70%'], // 饼图的范围
              avoidLabelOverlap: false,
              color: [
                // 颜色，按循序使用
                // '#faa41b',
                // 灰色color
                '#f5f5f5',
                // '#faa41b',
                '#fc6961'
              ],
              label: {
                fontFamily: 'sans-serif',
                show: false,
                position: 'center',
                fontSize: 12,
                align: 'left',
                fontWeight: 'bold',
                formatter: '{b}: {d}' // 格式，支持回调
              },
              emphasis: {
                show: true
              },
              labelLine: {
                show: false
              },
              data: [
                { value: 335, name: '直接访问' },
                { value: 310, name: '邮件营销' }
              ]
            }
          ]
        }
      },
      immediate: true,
      deep: true
    }
  }
}
</script>
<style lang="less" scoped>
.pieChart {
  margin: 0 auto;
}
</style>
