<template>
  <div>
    <!-- 折线图 -->
    <Echart :options="options" id="blockChainBrowerChart" height="380px" width="380px" class="barChart"></Echart>
  </div>
</template>

<script>
import Echart from '../common/index'
import * as echarts from 'echarts'
export default {
  data() {
    return {
      options: {}
    }
  },
  components: {
    Echart
  },
  props: {
    cdata: {
      type: Object,
      default: () => ({})
    }
  },
  watch: {
    cdata: {
      handler(newData) {
        let { xData, yData } = newData
        let category = ['小王', '小李', '小赵', '小马', '小刘']
        let barData = [3100, 2142, 1218, 581, 431, 383, 163]
        this.options = {
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            },
            // 修改字体为白色
            textStyle: {
              color: '#fff',
              fontSize: 14
            },
            // 修改提示框背景样式为为黑色
            backgroundColor: '#333'
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: {
            type: 'value',
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            }
          },
          yAxis: {
            type: 'category',
            data: category,
            splitLine: { show: false },
            axisLine: {
              show: false
            },
            axisTick: {
              show: false,
              alignWithLabel: false
            },
            offset: 10
          },
          legend: {
            data: ['小王', '小李', '小赵', '小马', '小刘'], // 图例数据
            // 设置legend的字体样式
            textStyle: {
              fontSize: '14px',
              color: '#333',
              fontWeight: 500
            },
            orient: 'vertical',
            right: '50%', //当前直接只设置此具体像素值、百分比即可了
            left: 'right',
            top: 'center',
            align: 'left',
            // 设置legend形状
            icon: 'circle'
          },
          series: [
            {
              name: '小王',
              type: 'bar',
              data: [10],
              barWidth: 14,
              barGap: 10,
              smooth: true,
              label: {
                show: true,
                position: 'right',
                // offset: [5, -2],
                color: '#F68300',
                fontSize: 13
              },
              emphasis: {
                borderRadius: 7
              },
              itemStyle: {
                borderRadius: 7
              }
              // color: '#F68300'
            },
            {
              name: '小李',
              type: 'bar',
              data: [2],
              barWidth: 14,
              barGap: 10,
              smooth: true,
              label: {
                show: true,
                position: 'right',
                // offset: [5, -2],
                color: '#F68300',
                fontSize: 13
              },
              emphasis: {
                borderRadius: 7
              },
              itemStyle: {
                borderRadius: 7
              }
              // color: '#F68300'
            }
          ]
        }
      },
      immediate: true,
      deep: true
    }
  }
}
</script>
<style lang="less" scoped>
.barChart {
  margin: 0 auto;
}
</style>
