// 全局dialog中表格样式修改
.ant-modal-content {
  // 头部header
  // 头部添加滚动条之后背景设置
  .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    background: #e1ecf5 !important;
  }

  .ant-table-fixed-right {
    .ant-table-header.ant-table-hide-scrollbar {
      background: #e1ecf5 !important;
    }
  }

  // 头部header配置
  .ant-table-thead {
    th {
      background: #e1ecf5 !important;
      color: rgb(29, 28, 28) !important;
      font-weight: 700;
    }
  }

  // footer 自定义样式 清除横线
  // .ant-modal-footer {
  //   border-top: 0px;
  // }
}

// 全局分页器距右
.ant-table-pagination > .ant-pagination {
  float: left !important;
  text-align: center;
  margin: 16px 0;
}

// 全局table样式配置
.ant-table-content {
  .ant-table-body {
    // 头部header配置
    .ant-table-thead {
      th {
        // background: #e1ecf5 !important;
        color: rgb(29, 28, 28) !important;
        font-weight: 700;
      }
    }
  }
}

// 要修改Table组件的默认鼠标悬停样式
.ant-table-tbody > tr.ant-table-row:hover > td {
  // background-color: #1890ff !important;
}
