<template>
  <div class="main-container">
    <!--2个div,左右排列 -->
    <div class="left" v-animate-css="leftOption"></div>
    <div class="right" v-animate-css="rightOption"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      leftOption: {
        classes: 'fadeInLeft',
        delay: 300,
        duration: 500,
        iteration: 1 // the animation will repeat 5 times.
      },
      rightOption: {
        classes: 'fadeInRight',
        delay: 300,
        duration: 500,
        iteration: 1 // the animation will repeat 5 times.
      }
    }
  },
  components: {},
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped>
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .left {
    width: 50%;
    height: 400px;
    background-color: #42a5f5;
  }
  .right {
    width: 50%;
    height: 400px;
    background-color: #9ccc65;
  }
}
</style>
