<template>
  <div></div>
</template>

<script>
export default {
  name: '',
  data() {
    return {}
  },
  components: {},
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
