<template>
  <div>
    <bar-chart></bar-chart>
  </div>
</template>

<script>
import barChart from '@/components/Echarts/barChart'
export default {
  name: '',
  data() {
    return {}
  },
  components: { barChart },
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
