<template>
  <div>
    <a-button @click="open" type="primary" size="small">打开对话框</a-button>
    <a-modal v-model="visible" title="测试" v-drag>
      <a-form :form="form">
        <a-form-item label="项目名称" :label-col="{ span: 5 }" :wrapper-col="{ span: 18 }">
          <a-input
            v-decorator="['projectName', { rules: [{ required: true, message: '请输入项目名称' }] }]"
            placeholder="请输入项目名称"
          />
        </a-form-item>
      </a-form>
      <template slot="footer">
        <a-button key="back" @click="cancel"> 取消 </a-button>
        <a-button key="submit" type="primary" @click="conform"> 确定 </a-button>
      </template>
    </a-modal>
  </div>
</template>

<script>
import screenfull from 'screenfull'
export default {
  name: '',
  data() {
    return {
      visible: false,
      form: this.$form.createForm(this, { name: 'form' }),
      isFullscreen: false // 是否全屏
    }
  },
  components: {},
  props: {},
  methods: {
    toggleFullscreen() {
      const element = document.getElementById('fullMapMonitorId')
      // 当前浏览器是否支持全屏
      if (!screenfull.enabled) {
        this.$message.warning('您的浏览器不支持全屏')
        return false
      }
      // 全屏切换
      screenfull.toggle(element)
    },
    change() {
      this.isFullscreen = screenfull.isFullscreen
    },
    init() {
      if (screenfull.enabled) {
        screenfull.on('change', this.change)
      }
    },
    destroy() {
      if (screenfull.enabled) {
        screenfull.off('change', this.change)
      }
    },
    open() {
      this.visible = true
    },
    cancel() {
      this.visible = false
    },
    conform() {
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log(values)
        }
      })
    }
  },
  mounted() {
    this.init()
  },
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
