<template>
  <div class="container">
    <div class="item item1">1</div>
    <div class="item item2">2</div>
    <div class="item item3">3</div>
    <!-- <div class="item">4</div> -->
    <!-- <div class="item">5</div>
    <div class="item">6</div>
    <div class="item">7</div>
    <div class="item">8</div>
    <div class="item">9</div>
    <div class="item">10</div> -->
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'Home',
  components: {},
  data() {
    return {}
  },
  beforeCreate() {},
  created() {}
}
</script>

<style lang="less" scoped>
.container {
  background-color: rgb(196, 220, 232);
  /* 边框属性 */
  border: 9px solid rgb(0, 181, 203);
  /* 上下边距 150px  左右间隙自动 */
  margin: 150px auto;
  height: 400px;
  min-width: 400px;
  padding: 20px;
  display: flex;
  /* 父容器 */
  /*
  flex-direction:负责子项目的排列方向
    row:从左到右 默认
    row-reverse:从右向左
    column:从上到下
    column-reverse:从下往上

  flex-wrap:负责子项目多行
    nowrap:初始值
    wrap:正s型
    wrap-reverse:反s型
  */

  flex-direction: row;
  // flex-wrap: wrap;

  /*
   flex-flow :flex-direction和flex-wrap一起指定
   flex-flow: row wrap;
  */

  /*
    justify-content：水平对齐
      flex-start: 水平对齐 从左到右 默认初始值
      flex-end:水平对齐 从右向左
      center:居中
      space-between:子项目之间留间隙
      space-around:两边留间隙
   */
  justify-content: center;
  /* align-items:垂直对齐 常用
       stretch:初始值
       flex-start:靠上对齐
       flex-end:靠下对齐
       center:居中对齐
       baseline:根据容器里面的文字内容基线对齐
  */
  align-items: center;
  /* align-content ... 多行对⻬ 只针对多行起作用
       stretch:初始值
       flex-start:靠上对齐
       flex-end:靠下对齐
       center
       space-between:子项目之间留间隙
       space-around:两边留间隙
  */
  // align-content: stretch;
}
.item {
  background-color: rgb(0, 181, 203);
  color: #f5f5f5;
  width: 100px;
  height: 100px;
  margin: 2px;
  font-weight: bold;
  text-align: center;
  font-size: 5em;
}

.item1 {
  flex-shrink: 1;
  flex-basis: 200px;
}
.item2 {
  flex-shrink: 1;
  flex-basis: 200px;
}

.item3 {
  flex-shrink: 10;
  flex-basis: 200px;
}

/* 子容器属性

order ... 順序指定 例 .item { order: 2; }

flex-grow ... 子项目延伸比率 item2 { flex-grow: 2; }

flex-shrink ... 子项目收缩比率 .item2 { flex-shrink: 2; }

flex-basis ... 子项目的基本宽度 例 .item1 { flex-basis: 200px; }

flex ... flex-grow、flex-shrink、flex-basis一起指定 例 .item1 { flex: 0 1 30%; }

align-self ... 子要素垂直对⻬ 例 .item2 { align-self: flex-end; }
*/
</style>
