<template>
  <quick-menu
    :menu-count="count"
    :icon-class="icons"
    :menu-url-list="list"
    :position="position"
    :menuUrlList="list"
    :isOpenNewTab="isOpenNewTab"
    :color="color"
    :backgroundColor="backgroundColor"
  ></quick-menu>
</template>
<script>
import quickMenu from 'vue-quick-menu'
import 'font-awesome/css/font-awesome.min.css'
export default {
  components: {
    quickMenu
  },
  data() {
    return {
      count: 4, //展示菜单数量
      icons: ['fa fa-github', 'fa fa-comment', 'fa fa-code', 'fa fa-envelope'], // font图标
      // https://github.com/AshleyLv/vue-quick-menu/issues 注意:url为目标路由 route-link
      list: [
        { isLink: true, url: '/lottie' },
        { isLink: true, url: '/print' },
        { isLink: true, url: '/animate' },
        { isLink: true, url: '/flexContainer' }
      ],
      backgroundColor: '#42A5F5', //背景颜色
      color: '#eee',
      position: 'bottom-left', //位置定位
      isOpenNewTab: false //是否在新的标签页打开页面
    }
  },
  methods: {},
  created() {}
}
</script>
