<template>
  <div>
    <a-button type="primary" style="background: #4849ff" @click="handleExportPdf" class="btn">导出PDF</a-button>
    <div id="pdfDom" style="padding: 10px; background-color: #fff">
      <img src="@/assets/images/logo.png" alt="" class="custom-img" />
      <p v-for="(item, index) in 40" :key="index">{{ item }}测试数据 hello world</p>
    </div>
  </div>
</template>

<script>
import htmlToPdf from '@/utils/htmlToPdf'
export default {
  data() {
    return {}
  },
  components: {},
  props: {},
  methods: {
    // 导出pdf
    handleExportPdf() {
      // 滚动到顶部，确保打印内容完整
      document.body.scrollTop = 0 // IE的
      document.documentElement.scrollTop = 0 // 其他
      htmlToPdf('pdfDom', '个人报告')
    }
  },
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped>
// p标签居中
p {
  text-align: center;
  overflow: auto;
}
.btn {
  margin-top: 20px;
  text-align: center;
}
.custom-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  // 居中
  display: block;
  text-align: center;
}
</style>
