<template>
  <div>
    <lottie :options="defaultOptions" :height="500" :width="500" v-on:animCreated="handleAnimation" />
    <!-- flex居中布局 -->
    <div class="flex-content-center">
      <a-button type="primary" size="small" @click="stop">停止</a-button>
      <a-button type="primary" size="small" @click="play">播放</a-button>
      <a-button type="primary" size="small" @click="pause">暂停</a-button>
      <a-input-number
        style="margin-left: 10px"
        @change="onSpeedChange"
        size="small"
        v-model="speed"
        :min="1"
        :step="1"
      ></a-input-number>
    </div>
  </div>
</template>

<script>
import Lottie from 'vue-lottie'
import dataProcess from '../assets/lottie/data-process'
export default {
  name: 'lottie-demo',
  components: { Lottie },
  data() {
    return {
      defaultOptions: { animationData: dataProcess },
      /**
       * animationData和path二选一。
       * 1.animationData
       * animationData为本地路径的json，需要import * as anData from "@/XXX.json"
       * 注意：使用本地路径获取的data需要使用default参数。
       * 2.path
       * path可直接传入网络路径
       */
      // animationData: anData.default,
      // path: "https://assets7.lottiefiles.com/packages/lf20_sF7uci.json"
      // JSON文件压缩 https://design.alipay.com/lolita
      anim: {},
      speed: 1
    }
  },
  methods: {
    handleAnimation(anim) {
      this.anim = anim
    },
    stop() {
      this.anim.stop()
    },
    play() {
      this.anim.play()
    },
    pause() {
      this.anim.pause()
    },
    onSpeedChange() {
      this.anim.setSpeed(this.speed)
    }
  }
}
</script>

<style lang="less" scoped>
// flex居中布局
.flex-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
