<template>
  <div>
    <pie-Chart :cdata="cdata"></pie-Chart>
  </div>
</template>

<script>
import pieChart from '@/components/Echarts/pieChart'
export default {
  name: '',
  data() {
    return {
      cdata: {}
    }
  },
  components: { pieChart },
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
