<template>
  <div>
    <h1 ref="print">
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
      <div>打印区域</div>
    </h1>
    <button @click="printFn">打印</button>
  </div>
</template>

<script>
export default {
  methods: {
    printFn() {
      //传入dom结构即可
      this.$print(this.$refs.print)
    }
  }
}
</script>
