<template>
  <div>
    <a-button @click="open" type="primary" size="small">打开对话框</a-button>
    <a-modal
      v-model="visible"
      :maskClosable="false"
      :class="isFullscreen ? 'full-screen-modal' : ''"
      width="58%"
      :bodyStyle="isFullscreen ? {} : bodyStyleOption"
    >
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <template slot="title">
        <a-row type="flex" justify="space-between">
          <a-col span="6">
            <a-icon type="environment" />
            全图监控
          </a-col>
          <a-col style="margin-right: 40px" span="6">
            <a-tooltip placement="bottom">
              <template slot="title">{{ isFullscreen ? '缩小' : '全屏' }}</template>
              <a-icon :type="isFullscreen ? 'fullscreen-exit' : 'fullscreen'" class="icon" @click="toggleFullscreen" />
            </a-tooltip>
          </a-col>
        </a-row>
      </template>
      <!-- 自定义close -->
      <template slot="closeIcon">
        <a-tooltip placement="top">
          <template slot="title">关闭</template>
          <a-icon type="close" style="font-size: 15px" @click="close" />
        </a-tooltip>
      </template>
      <template slot="footer">
        <a-button key="back" @click="cancel"> 取消 </a-button>
        <a-button key="submit" type="primary" @click="conform"> 确定 </a-button>
      </template>
    </a-modal>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      visible: false,
      form: this.$form.createForm(this, { name: 'form' }),
      isFullscreen: false, // 是否全屏
      bodyStyleOption: {
        height: '480px',
        overflow: 'hidden',
        overflowY: 'scroll'
      }
    }
  },
  components: {},
  props: {},
  methods: {
    close() {
      this.visible = false
    },
    toggleFullscreen() {
      this.isFullscreen = !this.isFullscreen
    },
    open() {
      this.visible = true
    },
    cancel() {
      this.visible = false
    },
    conform() {
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log(values)
        }
      })
    }
  },
  mounted() {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped>
.full-screen-modal {
  ::v-deep .ant-modal {
    width: 100vw !important;
    max-width: 100vw;
    top: 0;
    padding-bottom: 0;
  }
  ::v-deep .ant-modal-body {
    height: calc(100vh - 55px - 53px);
    overflow-y: auto;
  }
}
.icon {
  cursor: pointer;
  float: right;
  // height: 24px;
  line-height: 30px;
  font-size: 16px;
}
</style>
