<template>
  <div :id="id" :style="{ height: height, width: width }" />
</template>

<script>
import elementResizeDetectorMaker from 'element-resize-detector'
export default {
  name: 'echart',
  props: {
    id: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '100%'
    },
    options: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      chart: null,
      erd: null
    }
  },
  watch: {
    options: {
      handler(options) {
        // 设置true清空echart缓存
        this.chart.clear()
        this.chart.setOption(options, true)
      },
      deep: true
    }
  },
  methods: {
    initChart() {
      // 初始化echart
      this.chart = this.$echarts.init(this.$el)
      this.chart.setOption(this.options, true)
      this.erd = elementResizeDetectorMaker()
      this.erd.listenTo(document.getElementById(this.id), () => {
        this.$nextTick(() => {
          this.resizeChart()
        })
      })
    },
    // 自适应图表大小
    resizeChart() {
      if (this.chart) {
        this.chart.resize()
      }
    }
  },
  mounted() {
    this.initChart()
  },
  beforeDestroy() {
    // 移除绑定的事件

    this.chart.dispose()
    this.chart = null
  }
}
</script>

<style lang="less" scoped></style>
