<template>
  <div>
    <!--
      当我们想使用多个插槽时，也就是我想让我父组件传过来的内容显示在页面的不同位置，
    如果子组件有多个slot且没有名字就会按照父组件传来的顺序排序，不会按我们想要的位置排序，
    这就是需要具名插槽的原因，看不懂没关系，看下下面的例子就会明白了。
    有时候我们需要父组件传过来的内容想要按这种格式展示，
    所以就需要给子组件插槽起个名字，然后父组件调用子组件然后调用插槽的名字，
    然后子组件根据名字就会把对应的内容显示到对应的位置 -->

    <!-- 总结：我们slot起了名字，然后通过v-slot来调用这个名字，插槽就会对应匹配上，顺序时按照子组件插槽的顺序来排的 -->
    <div>我是父组件</div>
    <children>
      <template v-slot:footer>
        <p>我是footer的内容</p>
      </template>
      <!-- 也可以写成v-slot="default" -->
      <template>
        <p>我是默认的内容,slot不起名字时默认时defauLt</p>
      </template>

      <template v-slot:header>
        <h1>我是header的内容</h1>
      </template>
    </children>
  </div>
</template>

<script>
import children from './children'
export default {
  name: 'father',
  data() {
    return {}
  },
  components: { children },
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
