<template>
  <div>
    <!-- 有时我们父组件不在子组件里面写内容，这时候子组件的slot需要准备一个后备内容，
    也就是默认显示内容。如果父组件不使用插槽(调用子组件不写内容),那么我们就默认显示一个内容
    由此可以看出当我们调用子组件时，没有写内容，插槽就会显示默认的内容，当我们父组件写内容时，就会显示父组件传过来的内容，不会显示我是默认内容了
    插槽优点可以看出：可以实现组件的复用性，就是子组件slot来占个位置，不管外面传什么内容这里照常接收显示，在父组件调用子组件的时候写着组件内部的，会在子组件插槽内显示 -->

    <div>我是父组件</div>
    <children> </children>
  </div>
</template>

<script>
import children from './children'
export default {
  name: 'father',
  data() {
    return {}
  },
  components: { children },
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
