<template>
  <div class="login-container">
    <div class="login-box">
      <h2>登录</h2>
      <a-form :form="form" @submit="handleSubmit">
        <a-form-item>
          <a-input
            v-decorator="['userName', { rules: [{ required: true, message: '请输入用户名!' }] }]"
            placeholder="Username"
          >
            <a-icon slot="prefix" type="user" style="color: rgba(0, 0, 0, 0.25)" />
          </a-input>
        </a-form-item>
        <a-form-item>
          <a-input
            v-decorator="['password', { rules: [{ required: true, message: '请输入密码!' }] }]"
            type="password"
            placeholder="Password"
          >
            <a-icon slot="prefix" type="lock" style="color: rgba(0, 0, 0, 0.25)" />
          </a-input>
        </a-form-item>
        <a-form-item>
          <a-checkbox
            v-decorator="[
              'remember',
              {
                valuePropName: 'checked',
                initialValue: true
              }
            ]"
          >
            <span> <a href="">记住密码</a></span>
          </a-checkbox>
          <span class="login-form-forget"> <a href="">忘记密码</a> </span>
          <a-button type="primary" html-type="submit" class="login-form-button btn-3"> <span>登录</span> </a-button>
          <a href="">或者 现在注册! </a>
        </a-form-item>
      </a-form>
    </div>
  </div>
</template>

<script>
// https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda
export default {
  data() {
    return {
      form: this.$form.createForm(this, { name: 'loginForm' })
    }
  },
  methods: {
    handleSubmit() {}
  }
}
</script>

<style lang="less" scoped>
.login-container {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  // linear-gradient()函数用于创建一个表示两种或多种颜色线性渐变的图片。
  // 创建一个线性渐变，需要指定两种颜色，还可以实现不同方向（指定为一个角度）的渐变效果，如果不指定方向，默认从上到下渐变
  // login01 - linear-gradient(#141e30, #243b55);
  background: linear-gradient(#141e30, #243b55);
  // height: 100%;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-form-forget {
  float: right;
}
.login-form-button {
  width: 100%;
}
</style>
